* {
margin: 10;
padding: 10;
}

a {
  text-align: left;
  font-family: arial;
  color: blue;
}

a:hover {
  color: red;
}

a.visited {
  color: black;
}

.header {
  margin-bottom: -20px;
  font-size: 2em;
  text-align: left;
  font-weight: bold;
  font-family: arial
}

.body {
  margin-left: -10px;
  font-size: 1em;
  text-align: left;
  font-family: arial;
}

.textform {
  background-color: white;
  margin-left: -10px;
  margin-top: -40px;
  padding: 0px;
  border-color: black;
  border-radius: 10px;
  font-family: arial;
}

.instagram {
  font-family: arial;
  font-size: .5em;
  margin-left: -10px;
}
