html {
	width: 100%;
}

body {
	margin: 48px;
	padding: 30px;
	font-family: helvetica;
}

.nutrition-fact {
width: 456px;
margin: -39px;
padding: 30px;
border: solid;
border-width: 3px;
border-color: black;
align-content: center;
}

a:link {
	color: black;
}

a:hover {
color: black;
}

a:visited {
	color: black;
}

a:active {
	color: blue;
}

section,
figure {
	margin-top: 20px;
}

#channel-title
{
font-family: "helvetica", serif;
font-weight: bolder;
text-align: left;
font-size: 8em;
margin-top: -20px;
margin-left: -10px;
margin-bottom: -20px;
padding-bottom: 10px;
}

#channel-description
{
	color: white;
	opacity: 0%;
	font-family: "helvetica", serif;
	font-size: 0.5em;
	margin-top: -25px;
}

#header
{
margin-top: 10px;
font-family: helvetica;
flex-basis: 2;
font-size: 1em;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
}


.stroke1 {
	background-color: black;
  width: 391px;
  height: 2px;
	margin-top: -35px;
}

.stroke2 {
	background-color: black;
  width: 391px;
  height: 16px;
	margin-top: 10px;
}

.stroke3 {
	background-color: black;
  width: 391px;
  height: 8px;
	margin-top: 5px;
}

#stroke4 {
	background-color: black;
	width: 391px;
	height: 2px;
	margin-top: 6px;
}

#stroke5 {
	background-color: black;
	width: 391px;
	height: 2px;
	margin-top: 6px;
}

.container {
	margin-top: 10px;
	font-size: 1em;
}

#serving-size1 {
	margin-top: 5px;
	font-size: 1.5em;
	font-weight: bold;
}

#serving-size2 {
	margin-top: -29px;
	margin-left: 223.2px;
	font-size: 1.5em;
	font-weight: bold;
}

.calorie-container {
	margin-top: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

#calorie {
	font-size: 2em;
	font-weight: bold;
}

#zero {
	font-size: 2em;
	font-weight: bold;
	margin-left: 370px;
	margin-top: -43px;
}

#daily-value {
margin-left: 286px;
font-weight: lighter;
margin-top: 9px;
}

.block {
	margin-top: 9px;
}

#total-block1 {
	font-size: 1.2em;
}

#total-block2 {
	font-size: 1.2em;
}

#total-block3 {
	font-size: 1.2em;
}

#total-block4 {
	font-size: 1.2em;
}

#total-block5 {
	font-size: 1.2em;
		color: blue;
}

#percentage1 {
	margin-top: -22px;
	margin-left: 343px;
	font-weight: bold;
	font-size: 1.2em;
}

#percentage2 {
	margin-top: -22px;
	margin-left: 348px;
	font-weight: bold;
	font-size: 1.2em;
}

#percentage3 {
	margin-top: -22px;
	margin-left: 353px;
	font-weight: bold;
	font-size: 1.2em;
}

#percentage4 {
	margin-top: -22px;
	margin-left: 336px;
	font-weight: bold;
	font-size: 1.2em;
		color: blue;
}

#about-us {
	font-size: 0.7em;
	margin-top: -16px;
	margin-left: 11px;
	margin-bottom: -30px;
	padding-bottom: 14px;
}

#sign {
	margin-top: 11px;
}

#channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
}

hr {
	color: black;
	background-color: black;
		display: block;
    margin-end: auto;
    margin-start: auto;
    border: 3px inset;
    overflow: hidden;
    margin-before: 2em;
    margin-after: 2em;
		border-color: black;
}

.grid {
	position: absolute;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: auto auto auto;
    grid-gap: 18px;
    margin-left: 226px;
    margin-top: -337px;
}

.image-style {
	border: solid;
	border-width: 3px;
	border-color: black;
	width: 1193px;
	position: relative;
	height: 1087px;
	margin-left: 429px;
	margin-top: -716px;
}

#clear {
	margin-left: 377px;
	margin-top: -362px;
}

#add {
	margin-left: -38px;
		margin-top: -19px;
}
