body {
  margin: 0;
  padding: 40px;
  background-color: #eee;
}

p, a {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.outer {
  width: 600px;
  height: 600px;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}
