body {
	font-family: monospace;
	padding: 40px;
}

a {
	color: royalblue;
}

section,
figure {
	margin-top: 40px;
	max-width: 500px;
}
body {
	font-family: monospace;
}

a {
	color: white;
}

a:hover {
color: black;
}

#header-item {
	color: black;
}

#header-item-1 {
	color: white;
}

section,
figure {
	margin-top: 80px;
	max-width: 600px;
}

#channel-title
{
font-family: "helvetica", serif;
font-weight: bold;
text-align: left;
font-size: 4em;
color: black;
}

#channel-description
{
	color: blue;
	font-family: "helvetica", serif;
	font-size: 0.5em;
	margin-top: -10px;
}

#header
{
margin-top: 10px;
font-family: sans-serif;
flex-basis: 2;
font-size: 1em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
}

#header-items {

}

#channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
}

#image-grid {
	display: grid;
	flex-wrap: wrap;
}
