body {
  margin: 0;
  padding: 40px;
  background-color: #eee;
}

p, a {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.outer {
  width: 600px;
  height: 600px;
  background-color: red;
  margin: 0 auto;
  font-size: 0;
}

.green {
  width: 400px;
  height: 400px;
  background-color: lime;
  margin-left: 100px;
  position: relative;
  top: 100px;
}

.blue {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin-left: 200px;
  position: relative;
  bottom: 200px;
}
